<div class="cart-item cart-item--empty">
	<div class="cart-item__empty supports-cookies">
		<p class="cart-item__empty-title">
			{{- 'cart.general.empty' | t -}}
		</p>

		<a class="button-read-more cart-item__home-link"
		   href="{{- routes.root_url -}}"
		>
			{{- 'cart.label.root' | t -}}
		</a>
	</div>
</div>
