<div class="language-switcher js-language-switcher">
	<div class="language-switcher__wrapper">
		<span class="language-switcher__current-language js-language-switcher-current-language">
			{% include 'icon-en-flag' %}
		</span>

		<span class="language-switcher__dropdown-icon">
			{% include 'icon-dropdown' %}
		</span>
	</div>

	<div class="language-switcher__dropdown">
		{% for locale in shop.published_locales %}
			<div class="language-switcher__dropdown-item js-language-switcher-item">
				{% assign flag = "icon-" | append: locale.iso_code | append: "-flag" %}
				{% include flag %}
			</div>
		{% endfor %}
	</div>
</div>
