//$variables color and sizes
$white: #FFFFFF;
$whiteSmoke: #F8F8F8;
$darkWhiteSmoke: #F4F4F4;
$gainsboro: #D8D8D8;
$ghostGrey: #D9D9D9;
$gainsboroDarken: #DADADA;
$silver: #C2C2C2;
$nobel: #9A9A9A;
$suvaGrey: #8D8D8D;
$dimGray: #747474;
$matterhorn: #4C4C4C;
$charcoal: #414141;
$nightRider: #2E2C2C;
$neroLight: #2A2A2A;
$nero: #292929;
$lightBlack: #121212;
$black: #000000;
$cinnabar: #E43434;
$alizarin: #ED1B23;
$fireEngineRed: #D6161D;
$venetianRed: #B10C12;

$ProximaNovaSemibold: 'ProximaNova-Semibold';
$Calibre: 'Calibre';
